<header class="contanier" >
    <header class="apre">
        <div class="ca">
            <h1 class="marca">Susan's Cakes</h1>
            <div class="logo"><img src="logo" /></div>
        </div>
    </header>
    <nav>
        <a href="pgInicial" class="bot-menu">Página Inicial</a>
        <a href="cad" class="bot-menu">Cadastrar</a>
        <a href="logouts" class="bot-menu"> Entrar</a>
        <a href="cadped" class="bot-menu">Faça seu pedido</a>
    </nav>
    <div class='bolo'>
        <header><h1>Bolo/recheio</h1></header>
        <div class="selecao-atributos">
            <select class="andares">
                <option value="0">andares</option>
                <option value="1">1</option>
                <option value="2">1</option>
                <option value="3">1</option>
            </select>
        </div>
    </div>
</header>    