<nav>
    <div class="logo"><img src="logo" /></div>
    <a href="" class="bot-menu">Cadastrar</a>
    <a href="" class="bot-menu"> Entrar</a>
    <a href="" class="bot-menu">Faça seu pedido</a>
</nav>