<!--  Menu / cabeçalho-->
<header class="apre">
    <div class="ca"> <h1 class="marca" >Susan's cacks</h1><div class="logo"><img src="logo" /></div></div>
</header>
<nav>
    <a href="cad" class="bot-menu">Cadastrar</a>
    <a href="logouts" class="bot-menu"> Entrar</a>
    <a href="cadped" class="bot-menu">Faça seu pedido</a>
</nav>
<div class="bolos">
    <div class="quat-bolos"><img src="bolos" /></div>
    <div class="quat-bolos"><img src="bolos" /></div>
    <div class="quat-bolos"><img src="bolos" /></div>
    <div class="quat-bolos"><img src="bolos" /></div>
    <div class="quat-bolos"><img src="bolos" /></div>
</div>
<div class="meio">
    <button onclick="javascript:window.location.href='Cadped'" class="bot-meio-cad">faça seu pedido agora mesmo</button>
    <h1 class="men">
        Aqui você a opção de escolher
        o recheio e tudo que estiver
        diponivel no momento
    </h1>
</div>
<div class="op">
    <div class="opnioes">
        <h1 class="nome">Nome: Lucas marques de sousa</h1><br><hr>
        <div class="mensagem"><p>Ótimos bolos que a suely faz e a entrega foi como combinado e sem atrazo no horario</p></div>
        <button onclick="javascript:window.location.href='Curtir'">Curtir</button>
    </div>
    <div class="opnioes">
        <h1 class="nome">Nome: Lucas marques de sousa</h1><br><hr>
        <div class="mensagem"><p>Ótimos bolos que a suely faz e a entrega foi como combinado e sem atrazo no horario</p></div>
         <button onclick="javascript:window.location.href='Curtir'">Curtir</button>
    </div>
    <div class="opnioes">
        <h1 class="nome">Nome: Lucas marques de sousa</h1><br><hr>
        <div class="mensagem"><p>Ótimos bolos que a suely faz e a entrega foi como combinado e sem atrazo no horario</p></div>
         <button onclick="javascript:window.location.href='Curtir'">Curtir</button>
    </div>
    <div class="opnioes">
        <h1 class="nome">Nome: Lucas marques de sousa</h1><br><hr>
        <div class="mensagem"><p>Ótimos bolos que a suely faz e a entrega foi como combinado e sem atrazo no horario</p></div>
         <button onclick="javascript:window.location.href='Curtir'">Curtir</button>
    </div>
    <div class="opnioes">
        <h1 class="nome">Nome: Lucas marques de sousa</h1><br><hr>
        <div class="mensagem"><p>Ótimos bolos que a suely faz e a entrega foi como combinado e sem atrazo no horario</p></div>
         <button onclick="javascript:window.location.href='Curtir'">Curtir</button>
    </div>
    <div class="opnioes">
        <h1 class="nome">Nome: Lucas marques de sousa</h1><br><hr>
        <div class="mensagem"><p>Ótimos bolos que a suely faz e a entrega foi como combinado e sem atrazo no horario</p></div>
         <button onclick="javascript:window.location.href='Curtir'">Curtir</button>
    </div>
    <div class="opnioes">
        <h1 class="nome">Nome: Lucas marques de sousa</h1><br><hr>
        <div class="mensagem"><p>Ótimos bolos que a suely faz e a entrega foi como combinado e sem atrazo no horario</p></div>
         <button onclick="javascript:window.location.href='Curtir'">Curtir</button>
    </div>
</div>
<div class="contatos">
    <div class="rede-social">
        <h1>Contatos: </h1>
        <a class="insta" href="https://www.instagram.com/p/CHqwV0YnCLa/">Instagram</a>
    </div>
</div>